@import "tailwindcss";
.gradient-text {
  background: linear-gradient(
    90deg,
    #00bcd4,
    #7f00ff
  ); /* gradient from cyan to purple */
  -webkit-background-clip: text; /* Make the gradient apply to the text itself */
  color: transparent; /* Make the text color transparent so the gradient is visible */
}
.gradient-text:hover {
  background: linear-gradient(
    90deg,
    #ff4081,
    #7f00ff
  ); /* gradient changes to pink and purple */
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.animate-fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}
