@import "tailwindcss";
.gradient-text {
  background: linear-gradient(
    90deg,
    #00bcd4,
    #7f00ff
  ); /* gradient from cyan to purple */
  -webkit-background-clip: text; /* Make the gradient apply to the text itself */
  color: transparent; /* Make the text color transparent so the gradient is visible */
}
.gradient-text:hover {
  background: linear-gradient(
    90deg,
    #ff4081,
    #7f00ff
  ); /* gradient changes to pink and purple */
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.animate-fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.card {
  @apply p-4 rounded-xl bg-white/10 backdrop-blur-md border border-white/20 shadow-lg w-[250px] hover:bg-white/20 transition-all duration-300 text-center;
}
.profile-img {
  @apply rounded-full w-[150px];
}
.name {
  @apply text-lg font-semibold text-cyan-300 pt-3;
}
.university {
  @apply text-gray-300 mt-1 text-sm;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  height: 8px; /* Optional: if you want to style horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #22d3ee; /* Pink color for the scrollbar thumb */
  border-radius: 10px; /* Optional: Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #06b6d4; /* Darker pink color when hovering over the scrollbar */
}
